@charset "utf-8";

:root{
  --text-color:#000;
  --body-color:#fff;

}

body{
    max-width: 1440px;
}

input{
    width:600px;
    height:60px;
    border-radius:1.25rem;
    font-size:20px;
}

.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-right{
    justify-content: right;
}
.align-center{
    align-items: center;
}
.flex-column{
    flex-direction:column;
}
.text-center{
    text-align: center;
}
.font-bold{
    font-weight:bold;
}
.my1{
    margin: 0 1rem;
}
.my2{
    margin: 0 2rem;
}
.my3{
    margin: 0 3rem;
}
.mx1{
    margin:1rem 0 ;
}
.mx2{
    margin:2rem 0 ;
}
.mx3{
    margin:3rem 0 ;
}
.py1{
    padding: 0 1rem;
}
.py2{
    padding: 0 2rem;
}
.py3{
    padding: 0 3rem;
}
.px1{
    padding:1rem 0 ;
}
.px2{
    padding:2rem 0 ;
}
.px3{
    padding:3rem 0 ;
}
.gap1{
    gap:1rem;
}
.gap2{
    gap:2rem;
}
.gap3{
    gap:3rem;
}

/*========================= /공통 스타일 ============================*/
.head_logo img{
    width:100px;
    height:100px;
    gap:1rem;
}
.side_menu ul li:hover{
    border-bottom:3px solid #d103ff70;
}
.nav_menu> ul> li a{
    display:block;
} 
.nav_menu ul li{
    text-align: center;
}
.nav-menu li{
    font-size: 1.2rem;
}
.nav-menu li:hover{
    background: var(--text-color);
    color:var(--body-color);
}
.sub_menu{
    display: none;
    font-size: 0.7rem;
    border:1px solid #333;
    background: var(--body-color);
    color:#333;
}
.logo img{
    width:100px;
    height:100px;
}
.home{
    margin: 1rem 1rem;
    align-items: center;
}

.home img{
    width:140%;
}
.news-nav ul li{
    font-size: 1.2rem;
    font-weight: bold;
}
.news-nav ul li:hover{
    border-bottom:3px solid #333;
}

/*========================= /header ============================*/

.cloud img{
    width:90%;
    margin: 3rem 0;
}
.input-btn a{
    border:1px solid #333;
}
.tag li>a{
    width:90px;
    height:40px;
    border: 1px solid #333;
    border-radius:3rem;
}
.po_items{
    display: flex;
    margin:5rem 5rem;
}
.po_box{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    border: 1px solid #333;
    border-radius: 10rem;
}
.po_box h3{
    font-size: 2rem;
    margin: 3rem 3rem;
}
.item1 img{
    width:470px;
    height:470px;
}
.item1 button{
    width:70px;
    height:30px;
    margin: 3rem 3rem;
}
.item2 img{
    width:470px;
    height:470px;
}
.item2 button{
    width:70px;
    height:30px;
    margin: 3rem 3rem;
}
.newsroom h2{
    font-size:2.5rem;
    text-align:center;
}
.griditems{
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
}
.grid-container{
    width:225px;
    height:225px;
    margin: 2rem auto;
    border-radius: 1.3rem;
    background-color: aquamarine;
    background:url(../images/grid.png);
}
.grid1>p{
    width:200px;
    height: 200px;
}
/*========================= /main ============================*/

.carsousel{
    position:relative;
}

.carsousel img {
    position:absolute;
    top:0;
    left:0;
}
.fo-left{
    line-height: 1.25rem;
}
.fo-center{
    margin: 3rem 0;
}
.sns img{
    width:30px;
    height:30px;
    margin:0 3px;
}
/*========================= /footer ============================*/
