@charset "utf-8";

:root{
  --text-color:#000;
  --body-color:#fff;

}
.wrap{
    max-width:1440px;
    margin:0 auto;
}
input{
    width:600px;
    height:60px;
    border-radius:1.25rem;
    font-size:20px;
}

.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-right{
    justify-content: right;
}
.align-center{
    align-items: center;
}
.flex-column{
    flex-direction:column;
}
.text-center{
    text-align: center;
}
.font-bold{
    font-weight:bold;
}
h2{
font-size:2rem;
}
.pos-absolute{
    position: absolute;
}
.pos-relative{
    position: relative;
}
.mx-auto{
    margin: 0 auto;
}
.my1{
    margin: 0 1rem;
}
.my2{
    margin: 0 2rem;
}
.my3{
    margin: 0 3rem;
}
.mx1{
    margin:1rem 0 ;
}
.mx2{
    margin:2rem 0 ;
}
.mx3{
    margin:3rem 0 ;
}
.py1{
    padding: 0 1rem;
}
.py2{
    padding: 0 2rem;
}
.py3{
    padding: 0 3rem;
}
.px1{
    padding:1rem 0 ;
}
.px2{
    padding:2rem 0 ;
}
.px3{
    padding:3rem 0 ;
}
.gap1{
    gap:1rem;
}
.gap2{
    gap:2rem;
}
.gap3{
    gap:3rem;
}

/*========================= /공통 스타일 ============================*/
.popup{
    width:600px;
    height: 400px;
    background: #333;
}

.popup button{
    width:40px;
    height: 40px;
    border-radius: 5rem;
}
.head_logo img{
    width:100px;
    height:100px;
    gap:1rem;
}

.nav-box{
    width:170px;
    height:34px;
    text-align: center;
}
.nav_menu{
    font-size: 1.5rem;
    font-weight: bold;
    justify-items: center;
}
.nav_menu > li{
    position: relative;
}

.sub_menu{
    width:100%;
    display: none;
    position:absolute;
    font-size: 1rem;
    align-items: center;
    background: #fff;
}
.sub_menu li:hover{
    background:#333;
    color:#fff;
}
.sub_menu li {
    text-align: center;
    gap:2rem;
    padding: .7rem .7rem;
}

.logo img{
    width:100px;
    height:100px;
}

.home img{
    width:140%;
}
.news-nav{
    font-size: 1.7rem;
    margin:0 auto ;
    font-weight: bold;
    justify-items: center;
    color:#000;
}

.newsroom h2{
    font-size:2rem;
    margin-top :4rem ;
    text-align:center;
}





/*========================= /header ============================*/

.cloud{
    background: url(../images/cloud.jpg);
    width:1440px;
    height: 600px;
    margin: 3rem 0;
}
.search-input button{
    width: 70px;
    height: 30px;
    margin: .8rem;
}
.input-btn a{
    border:1px solid #333;
}
.tag li{
    width:110px;
    height:29px;
    text-align: center;
    border: 1px solid #333;
    border-radius:3rem;
}

.po_items{
    display: flex;
    margin:5rem 5rem;
}
.po_box{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: rgb(91, 183, 245);
    border: 1px solid #333;
    border-radius: 10rem;
}
.po_box h3{
    font-size:1.7rem;
    margin: 3rem 3rem;
}
.items{
    width:510px;
    height:600px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}
.items div:hover{
    border: 2px solid #333;
}
.item1 img{
    width:470px;
    height:400px;
}

.item2 img{
    width:470px;
    height:400px;
}

.item3 img{
    width:470px;
    height:400px;
}
.main-news{
    font-size: 1.3rem;
    margin: 1rem 0;
}

.news1 img{
    width:700px;
    height:400px;
}
.news1 button{
    width:60px;
    height: 25px;
}
.news2 img{
    width:700px;
    height:400px;
}
.news2 button{
    width:60px;
    height: 25px;
}
.info-call{
    width: 700px;
    height: 300px;
}
.info-call img{
    width:180px;
    height:180px;
   background:pink;
    border-radius:10rem;
}
.info-call p{
    margin:3rem 5rem;
}
.info-mail img{
    width:180px;
    height:180px;
   background:pink;
    border-radius:10rem;
}
.info-mail p{
    margin:3.5rem 5rem;
}
.question p{
    background:#40401d;
}
.grid-container{
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
}

.grid img{
    width:310px;
    height:220px;
    margin:2rem 2rem;
    background: #474766;
    border-radius: 1.3rem
}

.grid-text{
    margin:0 2rem;
    line-height:1.5rem;
    font-weight: bold;
}

.griditems{
    width:376px;
    height:376px;
    margin: 2rem auto;
    border:1px solid #333;
    border-radius: 1.3rem;
    background: #fefefe;
}

/*========================= /main ============================*/

.carsousel{
    position:relative;
}

.carsousel img {
    position:absolute;
    top:0;
    left:0;
}
.fo-left{
    line-height: 1.25rem;
}

.sns img{
    width:30px;
    height:30px;
    margin:0 3px;
}
/*========================= /footer ============================*/
