@charset "UTF-8";

:root {
  --text-color:#000;
  --body-color:#fff;
  --sub-color:#9898;
}

html {
  font-size: 20px;
}

button {
  background: none;
  border: 0;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
}

input {
  width: 600px;
  height: 60px;
  border-radius: 1.25rem;
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.mx-auto {
  margin: 0 auto;
}

.my1 {
  margin: 0 1rem;
}

.my2 {
  margin: 0 2rem;
}

.my3 {
  margin: 0 3rem;
}

.mx1 {
  margin: 1rem 0;
}

.mx2 {
  margin: 2rem 0;
}

.mx3 {
  margin: 3rem 0;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.py1 {
  padding: 0 1rem;
}

.py2 {
  padding: 0 2rem;
}

.py3 {
  padding: 0 3rem;
}

.px1 {
  padding: 1rem 0;
}

.px2 {
  padding: 2rem 0;
}

.px3 {
  padding: 3rem 0;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}

/*========================= /공통 스타일 ============================*/
.popup {
  width: 600px;
  background: #D9D9D9;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.popup h2 {
  margin-bottom: 1rem;
}

.po-img {
  width: 32px;
  height: 39px;
}

.popup button {
  width: 40px;
  height: 40px;
  margin: 2% 92%;
  justify-content: flex-end;
  border-radius: 5rem;
}

.po-sale {
  background-color: #fff;
  border-bottom: 4px dotted #333;
  width: 420px;
  justify-content: center;
  margin: 0 auto;
}

.po-sale h3 {
  z-index: 10;
  left: 25%;
}

.po-sale p {
  margin-right: 2rem;
}

.po-car {
  width: 420px;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
}

.head_logo img {
  width: 100px;
  height: 100px;
  gap: 1rem;
}

.nav-box {
  width: 170px;
  text-align: center;
}

.nav-box a {
  height: 34px;
}

.nav_menu {
  font-size: 1.5rem;
  font-weight: bold;
  /* justify-items: center; */
}

.nav_menu > li {
  position: relative;
  z-index: 999;
}

.mo-nav-title {
  display: none;
}

.mo-menu {
  display: none;
}

.mo-nav button {
  display: none;
}

.sub_menu {
  border: 1px solid #333;
  width: 100%;
  display: none;
  position: absolute;
  font-size: 1rem;
  align-items: center;
  background: #fff;
  z-index: 999;
}

.sub_menu li:hover {
  background: #333;
  color: #fff;
}

.sub_menu li {
  text-align: center;
  gap: 2rem;
  padding: 0.7rem 0.7rem;
}

.logo img {
  width: 100px;
  /* height:100px; */
  margin: 2rem 2rem;
}

.home img {
  width: 140%;
}

.news-nav {
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: bold;
  justify-items: center;
  color: #000;
}

.point {
  border-bottom: 3px solid green;
}

.news-wrap {
  max-width: 1920px;
}

.news-img {
  position: relative;
  background: url(../images/carousel2.jpg) no-repeat center;
  height: 300px;
}

.news-img p {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 3px #000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.com-img {
  position: relative;
  background: url(../images/company.jpg) no-repeat center;
  height: 300px;
}

.com-img p {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 3px #000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.newsroom h2 {
  font-size: 2rem;
  margin-top: 4rem;
  text-align: center;
}

.item img {
  width: 300px;
  height: 200px;
  border-radius: 2rem;
}

.border-gr {
  border-bottom: 3px solid green;
}

/*========================= /header ============================*/
.mo-item{
    display: none;
}
.item-container{
    justify-content:center;
    text-align: center;
    margin:0 9.25rem;
    h2{
        font-size: 2rem;
        margin-top: 4rem;
        text-align: center;
    }
    .item{
        display:flex;
        width:1030px;
        align-items: center;
        margin:2rem;
        img{
            width:300px;
            height: 300px;
            border-radius:10rem;
        }
        h4{
            color:#369B40;
        }
        p{
            margin:2rem;
        }
    }
    .pc-item{
        display:flex;
        width:1030px;
        align-items: center;
        margin:2rem;
        img{
            width:300px;
            height: 300px;
            border-radius:10rem;
        }
        h4{
            color:#369B40;
        }
        p{
            margin:2rem;
        }
    }
    .mo-item{
        display:none;
    }
}
.forest img {
  width: 1440px;
  height: 600px;
  margin: 3rem 0;
}

.slick-arrow {
  display: none;
}

.slick-dots {
  display: none;
}

.search-input button {
  width: 70px;
  height: 30px;
  margin: 0.8rem;
}

.input-btn a {
  border: 1px solid #333;
}

.tag li {
  width: 110px;
  height: 29px;
  text-align: center;
  border: 1px solid #333;
  border-radius: 3rem;
  margin-bottom: 2rem;
}

.po_items {
  display: flex;
  margin: 3rem 3rem;
  padding: 0 3rem;
}

.po_box1 {
  width: 300px;
  height: 300px;
  border: 1px solid #333;
  border-radius: 10rem;
  margin: 0 auto;
  position: relative;
}

.po_box1::before {
  content: "";
  background: url(../images/hand.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.po_box2 {
  width: 300px;
  height: 300px;
  border: 1px solid #333;
  border-radius: 10rem;
  margin: 0 auto;
  position: relative;
}

.po_box2::before {
  content: "";
  background: url(../images/safe.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.po_box3 {
  width: 300px;
  height: 300px;
  border: 1px solid #333;
  border-radius: 10rem;
  margin: 0 auto;
  position: relative;
}

.po_box3::before {
  content: "";
  background: url(../images/consumer.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.po_box1 h3 {
  position: relative;
  color: green;
  font-size: 1.7rem;
  margin: 3rem 3rem;
}

.po_box2 h3 {
  position: relative;
  color: green;
  font-size: 1.7rem;
  margin: 3rem 3rem;
}

.po_box3 h3 {
  position: relative;
  color: green;
  font-size: 1.7rem;
  margin: 3rem 3rem;
  opacity: 1;
}

.po_box1 p {
  position: relative;
  color: rgb(34, 73, 34);
  font-size: 0.825rem;
  font-weight: bold;
}

.po_box2 p {
  position: relative;
  color: rgb(34, 73, 34);
  font-size: 0.825rem;
  font-weight: bold;
}

.po_box3 p {
  position: relative;
  color: rgb(34, 73, 34);
  font-size: 0.825rem;
  font-weight: bold;
}

.items {
  width: 510px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.items div {
  border: 2px solid transparent;
}

.items div:hover {
  border: 2px solid #333;
}

.item1 img {
  width: 470px;
  height: 400px;
}

.item2 img {
  width: 470px;
  height: 400px;
}

.item3 img {
  width: 470px;
  height: 400px;
}

.mo-btn {
  display: none;
}

.main-news {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.news1 img {
  width: 700px;
  height: 400px;
}

.news1 button {
  width: 80px;
  height: 25px;
  margin-left: 88%;
}

.news2 img {
  width: 700px;
  height: 400px;
}

.news2 button {
  width: 80px;
  height: 25px;
  margin-left: 88%;
}

.info {
  background-color: #e4e4e4;
}

.info-call {
  background: url(../images/callmale.png) no-repeat center;
  width: 600px;
  height: 300px;
}

.info-call p {
  margin-left: 65%;
  font-size: 1.2rem;
}

.info-mail {
  background: url(../images/Email\ Open.png) no-repeat center;
  background-position: left center;
  width: 500px;
  height: 300px;
}

.info-mail p {
  align-items: center;
  margin-left: 30%;
  font-size: 1.2rem;
}

.ques-box {
  width: 581px;
  height: 78px;
}

.ques-1 > p {
  display: flex;
  text-align: center;
  border-radius: 2rem;
  margin-top: 1rem;
  line-height: 78px;
  background: #FFFAFA;
  font-size: 1.1rem;
  border: 1px solid #333;
}

.ques-2 > p {
  text-align: center;
  border-radius: 2rem;
  margin-top: 1rem;
  line-height: 78px;
  background: #FFFAFA;
  font-size: 1.1rem;
  border: 1px solid #333;
}

.grid-container {
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;
}

.grid img {
  width: 310px;
  height: 220px;
  margin: 2rem 2rem;
  background: #474766;
  border-radius: 1.3rem;
}

.grid-text {
  padding: 0 0 0.5rem 0;
  margin: 0 2rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.griditems {
  margin: 2rem auto;
  border: 1px solid #333;
  border-radius: 1.3rem;
  background: #fefefe;
}

.grid-btn {
  display: none;
}

.btn-left {
  background-color: #c8c8c8;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 2rem;
}

.btn-right {
  background-color: #c8c8c8;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
}

/*========================= /main ============================*/
.carsousel {
  position: relative;
}

.carsousel img {
  position: absolute;
  top: 0;
  left: 0;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.fo-left {
  line-height: 1.25rem;
  width: 500px;
}

.fo-right {
  width: 130px;
}

.fo-center {
  margin-bottom: 1rem;
}

.sns img {
  width: 30px;
  height: 30px;
  margin: 0 3px;
}

/*========================= /footer ============================*/
@media screen and (max-width: 393px) {
    .mo-item{
        display:block;
    }
  body h2 {
    font-size: 1.2rem;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff;
  }
  .wrap {
    max-width: 393px;
    overflow: hidden;
  }
  .news-img {
    height: 300px;
  }
  .news-img p {
    top: 70%;
  }
  .mo-popup {
    top: 190%;
    width: 340px;
    height: 260px;
  }
  .mo-popup h2 {
    font-size: 1rem;
  }
  .popup button {
    justify-content: flex-start;
    margin: 2% 88%;
  }
  .po-sale {
    width: 300px;
    height: 75px;
  }
  .po-sale img {
    width: 40%;
    margin-right: 0.8rem;
  }
  .po-sale h3 {
    left: 18%;
    z-index: 10;
  }
  .po-sale p {
    font-size: 0.7rem;
    margin-right: 0.9rem;
    left: 5%;
  }
  .po-car img {
    margin-left: 0.6rem;
  }
  .po-car {
    width: 300px;
    height: 75px;
  }
  .po-car p {
    font-size: 0.625rem;
  }
  .po-carimg {
    width: 24px;
    margin-right: 1.3rem;
  }
  .down {
    width: 70px;
  }
  .mo-popup-text {
    display: none;
  }
  .mo-logo {
    margin: 0.5rem 0.5rem;
  }
  .head {
    justify-content: space-between;
  }
  .head_logo img {
    width: 90px;
    height: 90px;
  }
  .news_logo img {
    width: 60px;
    height: 60px;
    margin: 2rem;
  }
  .mo-nav button {
    display: inline-block;
  }
  .mo-nav_menu {
    border-top: 3px solid #000;
    background: var(--body-color);
    width: 300px;
    position: fixed;
    right: 0;
    top: 135px;
    z-index: 20;
    display: flex;
    flex-direction: column;
  }
  .mo-nav_menu a {
    font-size: 1.1rem;
  }
  .nav-box {
    position: relative;
    width: 300px;
    margin: 1rem;
  }
  .mo-dropdown {
    position: absolute;
    right: 1rem;
  }
  /* .mo-navbtn span{
      z-index: 21;
  } */
  .sub_menu {
    display: none;
  }
  .mo-submenu1 {
    position: static;
    background: white;
    border: 1px solid #333;
    width: 100%;
    font-size: 1rem;
    align-items: center;
    background: #fff;
    z-index: 999;
    flex-direction: column;
  }
  .mo-submenu1 li a {
    font-size: 0.8rem;
    color: #1f1f1f;
  }
  .mo-submenu1 li:hover {
    background: rgba(102, 101, 102, 0.933);
  }
  .mo-submenu2 {
    position: static;
    background: white;
    flex-direction: column;
  }
  .mo-submenu2 li a {
    font-size: 0.8rem;
    color: #1f1f1f;
  }
  .mo-submenu2:hover {
    background: rgba(102, 101, 102, 0.933);
  }
  .mo-submenu3 {
    position: static;
    background: white;
    flex-direction: column;
  }
  .mo-submenu3 li a {
    font-size: 0.8rem;
    color: #1f1f1f;
  }
  .mo-submenu3:hover {
    background: rgba(102, 101, 102, 0.933);
  }
  .mo-submenu4 {
    position: static;
    background: white;
    flex-direction: column;
  }
  .mo-submenu4 li a {
    font-size: 0.8rem;
    color: #1f1f1f;
  }
  .mo-submenu4:hover {
    background: rgba(102, 101, 102, 0.933);
  }
  .mo-site {
    align-items: center;
  }
  .mo-lan {
    display: none;
  }
  .mo-login {
    display: block;
  }
  .mo-login img {
    width: 20px;
    height: 20px;
  }
  .mo-menu {
    display: block;
    margin: 0 0.725rem;
  }
  .mo-menu img {
    width: 30px;
    height: 20px;
  }
  /*--------------------------/header---------------------------------*/
  .com-img{
    p{
      top:68%;
    }
  }
  .item-container{
    margin:0;
    padding:0;
    display:static;
    h2 {
        font-size: 1.5rem;
    }
        .items-company{
          padding: 3rem 0;
            .pc-item{
                display:none;
            }
            .mo-item{
            display:inline;
            width:320px;
            height: 380px;
              img{
                  width:182px;
                  height:182px;
                  border-radius:10rem;
              }
              span{
                  margin:.5rem 9.65rem;
                  display: block;
                  content:"";
                  width:7px;
                  height: 30px;
                  background:#369B40;
              }
              h4{
                color:#6FBD5A;
              }
              p{
                  font-size:0.85rem;
                  margin:0 2rem;
                  padding-bottom:3rem;
              }
            }
            .item{
                align-items:center;
                justify-content: center;
                display:inline;
                padding:3rem 0;
                margin:5rem 0;
                width:320px;
                height:380px;
                img{
                    width:182px;
                    height:182px;
                }
                span{
                    margin:.5rem 9.65rem;
                    justify-content: center;
                    display: block;
                    content:"";
                    width:7px;
                    height:30px;
                    background:#369B40
                }
                h4{
                    color:#369B40;
                }
                p{
                    text-align:center;
                    font-size:0.85rem;
                    margin:0 2rem;
                    padding-bottom:3rem;
                }
            }
        }
    } 
  .newsroom h2 {
    font-size: 1.5rem;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mo-grid1 {
    width: 350px;
  }
  .mo-grid1 img {
    width: 75%;
  }
  .mo-grid2 {
    width: 350px;
  }
  .mo-grid2 img {
    width: 75%;
  }
  .mo-grid3 {
    width: 350px;
  }
  .mo-grid3 img {
    width: 75%;
  }
  .mo-grid4 {
    width: 350px;
  }
  .mo-grid4 img {
    width: 75%;
  }
  .mo-grid5, .mo-grid6, .mo-grid7, .mo-grid8, .mo-grid9 {
    display: none;
  }
  .grid-text {
    padding: 0 0 0.5rem 0;
    font-size: 0.85rem;
  }
  .nav {
    display: none;
  }
  .forest img {
    width: 100%;
    height: 300px;
    margin: 3rem 0;
  }
  .pc-forest {
    display: none;
  }
  .po-title {
    align-items: center;
  }
  .po-title h2 {
    text-align: center;
  }
  .mo_box1 {
    width: 200px;
    height: 200px;
    display: block;
    margin: 1rem auto;
  }
  .mo_box1 h3 {
    font-size: 1.3rem;
    margin: 4.5rem 0;
  }
  .mo_box1 p {
    display: none;
  }
  .mo_box2 {
    width: 200px;
    height: 200px;
    display: block;
    margin: 1rem auto;
  }
  .mo_box2 h3 {
    font-size: 1.3rem;
    margin: 4.5rem 0;
  }
  .mo_box2 p {
    display: none;
  }
  .mo_box3 {
    width: 200px;
    height: 200px;
    display: block;
    margin: 1rem auto;
  }
  .mo_box3 h3 {
    font-size: 1.3rem;
    margin: 4.5rem 0;
  }
  .mo_box3 p {
    display: none;
  }
  .tag {
    display: none;
  }
  .mo-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid transparent;
    margin: 0 auto;
    height: auto;
  }
  .mo-item1 {
    margin-right: 25%;
  }
  .mo-item1 img {
    margin: 0 auto;
    width: 300px;
    height: 270px;
  }
  .mo-item2 {
    margin-right: 25%;
  }
  .mo-item2 img {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .mo-item3 {
    margin-right: 25%;
    padding-top: 1rem 0;
  }
  .mo-item3 img {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .mo-item3 {
    display: none;
  }
  .mo-btn {
    border: 2px solid #333;
    text-align: center;
    display: block;
    width: 100px;
    margin: 1rem auto;
    /* box-shadow: 1px 1px; */
    justify-content: space-around;
    align-items: center;
  }
  .mo-news-item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mo-new1 {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  .mo-new1 p {
    font-size: 1rem;
  }
  .mo-new1 button {
    margin-left: 11rem;
  }
  .mo-new1 img {
    display: block;
    width: 300px;
    height: 200px;
  }
  .mo-new2 {
    padding: 1rem 0;
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  .mo-new2 p {
    font-size: 1rem;
  }
  .mo-new2 button {
    margin-left: 11rem;
  }
  .mo-new2 img {
    display: block;
    width: 300px;
    height: 200px;
  }
  .mo-info {
    width: 100%;
  }
  .mo-call {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mo-call p {
    font-size: 1rem;
    margin: 0;
    margin-top: 10rem;
  }
  .mo-mail {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
  }
  .mo-mail img {
    margin-left: 3rem 0;
  }
  .mo-mail p {
    font-size: 1rem;
    margin: 0;
    margin-top: 10rem;
    text-align: center;
  }
  .mo-quse-title {
    margin: 3rem 0 0 0;
  }
  .ques-1 p {
    display: none;
    font-size: 0.698rem;
  }
  .ques-2 {
    margin: 0 auto;
    display: block;
    align-items: center;
  }
  .ques-2 p {
    font-size: 0.698rem;
  }
  .ques-box {
    width: 90%;
    margin: 0 auto;
  }
  .grid-btn {
    width: 200px;
    display: flex;
    margin: 1rem auto;
    justify-content: center;
  }
  .btn-left {
    border: 0.3px solid #333;
    width: 100px;
    height: 40px;
    border-radius: 0.5rem;
  }
  .btn-right {
    border: 0.3px solid #333;
    width: 100px;
    height: 40px;
    border-radius: 0.5rem;
  }
  /*--------------------------/main---------------------------------*/
  .mo-foleft {
    margin: 2rem 0 0 0.5rem;
    padding: 0;
    line-height: 5px;
    font-size: 0.5rem;
  }
  .mo-focenter {
    width: 200px;
    font-size: 0.5rem;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}
/*--------------------------/footer---------------------------------*/

/*# sourceMappingURL=style.css.map */